<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="contact">
        <form method="POST" ,action="/" ,id="contact" ,method="POST">
            <h2>Student Complain Box</h2>
            <label>Name    </label>
            <input id=" namee " type="text " placeholder="Enter the name " name="NAME"><br><br>
            <label>Phone number      </label>
            <input id="number " type="number " placeholder="Phone number " name="Phone_Number"><br><br>
            <label>Email ID    </label>
            <input id="mail " type="email " placeholder="Mail id " name="Email"><br><br>
            <label id="Branch ">Branch</label>
            <select name="branch" id="branch" required="required ">
                <option>CSE</option>
                <option>E-commerce</option>
                <option>Mechanical</option>
                <option>Electronics</option>
            </select><br><br>
            <label>Message    </label>
            <input id="mess " type="text " name="message" placeholder="Enter the Message "><br><br>
            <button id="sub " type="Submit ">Submit</button>

            <style>
                body {
                    background: linear-gradient(45deg, gray, rgb(41, 60, 144));
                    background-attachment: fixed;
                }
                
                #contact {
                    text-align: center;
                    border-style: solid;
                    border-radius: 23vh;
                    width: 90vh;
                    height: 88vh;
                    font-size: 4vh;
                }
            </style>
    </div>
    </form>
</body>

</html>